<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="2bd36bda-b7cd-4b74-ad6b-d6d2e0aaf549" webrule="4.3.6.7" utc="2017-08-25T09:12:29.7736" type="CPQ.Domain.Product, CPQ.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>ChangeLaptopName</name><description>ChangeLaptopName</description><definition><if><clause><condition type="equal" stringComparison="OrdinalIgnoreCase"><property name="Name" /><value>laptop Cover</value></condition></clause><then><set><property name="Name" /><value>laptopUpdated</value></set></then></if></definition><format><lines /></format></rule></codeeffects>