@model CPQ.Domain.Product
<div>
    <div class="left" style="width:180px;">
    </div>
    <div class="left" style="width:180px;">
    </div>
    <div class="left" style="width:180px;">
                <div style="text-align:right;margin-top:10px;"><input type="submit" id="Button" name="Button" value="Test" class="button" /></div>
    </div>
    <div class="clear"></div>
</div>